API_ID = 12345678
API_HASH = 'abcdef0123456789abcdef0123456789'
BOT_TOKEN = '123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11'
OWNER_ID = 111111111
BOT_USERNAME = '@MyAwesomeBot'
DB_PATH = 'accounts.db'

# Optional
START_DATE = 0
EXPIRY_DAYS = 30